html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


.pai{
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}

.color-one{
    width: 100vw;
    height: 100vh;
    background-color: turquoise;
}

.color-two{
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.color-three{
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

.color-four{
    width: 100vw;
    height: 100vh;
    background-color: green;
}

.color-five{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
}

/*em: se baseia no elemento mais proximo.*/
p{
    font-size: 0.5em;
}

/* rem: se baseia no elemento root do documento, o HTML*/
p{
    font-size: 1.6rem; /*equivale a 16px*/
}

/*vw (viewWidth) significa 1% da largura do viewport*/
/*vh (viewHeigth) significa 1% da largura do viewport*/
